<html>
    <title><%= name %>'s Personal Website</title>
    <h1>
        Welcome to my site.
    </h1>

    <p>The current unix time is <%= current_time %>.</p>

    <p>This website is currently under development. Please check back for more info later.</p>
</html>